<!DOCTYPE html>
<html>
  <head>
    <title>Magnacarta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%=stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Orbitron' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>

    <%= favicon_link_tag "/assets/images/favicon.ico" %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Magna Carta</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

              <li><%= link_to(current_user.email, edit_user_registration_path) %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

            <% else %>

              <li><%= link_to('Sign Up', new_user_registration_path)  %></li>
              <li><%= link_to('Login', new_user_session_path)  %></li>

            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% unless flash.empty? %>
         <script type="text/javascript">
              <% flash.each do |f| %>
    	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
    	     	 toastr['<%= type %>']('<%= f[1] %>');
    	   <% end %>
         </script>
    <% end %>


    <%= yield %>
  </body>
</html>
